* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background: #f7f7f7;
}

.main-section {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    background: #27355c;
}

.sidebar .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main {
    width: 80%;
    background: #fcfcfc; 
}

.main .center, .card {
    height: 100vh;
    background: #f7f7f7;
}

.logo {
    display: block;
    margin: 0 auto;
}

.nav {
    font-family: 'Rubik', sans-serif;
    width: 250px;
    margin: 15% 0 0 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.nav li {
    width: 100%;
    padding: 10px 0;
}

.nav a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 0 0 0 65px;
    border-left:5px solid transparent;
}

.nav a:hover {
    border-color: #fff;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 82px);
    font-family: 'PT Sans', sans-serif !important;

}

.card-body {
    padding: 0;
    background:url("../images/brain.jpg") no-repeat center;
}